<div id="mlb2-43625241" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-43625241 newsletter-box">
  <div class="row-form">
    <h2>Recibe avisos de nuevas guías</h2>
    <p>Entérate cuando publiquemos algo nuevo sobre tu trámite, directo a tu correo.</p>
    <form class="newsletter-form" action="https://assets.mailerlite.com/jsonp/2503047/forms/192655295146624179/subscribe" data-code="" method="post" target="_blank">
      <div class="newsletter-field">
        <input aria-label="email" aria-required="true" type="email" name="fields[email]" placeholder="Tu correo electrónico" autocomplete="email" required>
        <button type="submit">Quiero recibir guías</button>
      </div>
      <input type="hidden" name="ml-submit" value="1">
      <input type="hidden" name="anticsrf" value="true">
    </form>
  </div>
  <div class="row-success" style="display: none">
    <h2>¡Listo!</h2>
    <p>Ya estás suscrito. Te avisaremos cuando publiquemos contenido nuevo.</p>
  </div>
</div>

<script>
  function ml_webform_success_43625241() {
    var $ = ml_jQuery || jQuery;
    $('.ml-subscribe-form-43625241 .row-success').show();
    $('.ml-subscribe-form-43625241 .row-form').hide();
  }
</script>
<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v83147fa8ce2d95cb73ece7f28b469519"></script>
<script>
  fetch("https://assets.mailerlite.com/jsonp/2503047/forms/192655295146624179/takel");
</script>
